.heading
{
    font-family: "Poppins";
    padding : 0.5vh;
    font-size : 3vh;
}
.header
{
    display : flex;
    background-color: black;
    color : white;
    padding : 1.5%;
    justify-content: space-between;

}
